@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #000;
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  position: relative;
}

.bodywrap {
  margin-top: 3.125rem;
  margin-top: 50px;
  display: block;
  width: 100%;
}

.bodywrap .main-image {
  position: relative;
  background-image: url(../images/Concept1.jpg);
  background-repeat: no-repeat;
  background-position-y: 25px;
  background-size: 100%;
  height: 9.375rem;
  filter: brightness(50%);
  background-attachment: fixed;
}

.bodywrap .main-image_caption {
  position: absolute;
  color: #fff;
  font-weight: bold;
  top: 0%;
  left: 0%;
  width: auto;
  font-size: 1rem;
  letter-spacing: 2px;
}

.bodywrap .item_page {
  margin: 0 auto;
  margin-top: 2.5rem;
  margin-top: 40px;
  width: 88%;
}

.bodywrap .item_page .item_page_header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 10px 0;
  border-bottom: 0.5px solid #707070;
}

.bodywrap .item_page .item_page_header .item_page_header_title {
  font-weight: bold;
}

.bodywrap .item_page .item_page_header .item_sort_title {
  cursor: pointer;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bodywrap .item_page .item_page_header .item_sort_title span {
  width: auto;
  font-size: 10px;
}

.bodywrap .item_page .item_page_header img {
  margin-top: 2px;
  margin-right: 5px;
  width: 5px;
  transform: rotate(-90deg);
}

.bodywrap .item_page .item_page_header .item_sort {
  opacity: 0;
  top: 40px;
  right: 0;
  position: absolute;
  width: 100px;
  background: #fff;
  transition: all 0.4s;
  overflow: hidden;
}

.bodywrap .item_page .item_page_header .item_sort .option {
  display: flex;
  flex-wrap: wrap;
}

.bodywrap .item_page .item_page_header .item_sort .option li {
  cursor: pointer;
  text-align: center;
  padding: 10px;
  font-size: 10px;
}

.bodywrap .item_page .item_page_header .item_sort .option li:hover {
  background-color: #ddd;
}

.bodywrap .item_page .item_page_list {
  display: none;
  width: 100%;
  grid-template-columns: 45% 45%;
  grid-template-rows: repeat(6, 1fr);
  justify-content: space-between;
  height: 100%;
  margin-top: 25px;
  margin-top: 1.5625rem;
}

.bodywrap .item_page .item_page_list.active {
  display: grid;
}

.bodywrap .item_page .item_page_list .item_page_list_items {
  width: 100%;
  margin-bottom: 62px;
  margin-bottom: 3.875rem;
}

.bodywrap .item_page .item_page_list .item_page_list_items img {
  width: 100%;
}

.bodywrap .item_page .item_page_list .item_page_list_items .item_name {
  margin-top: 10px;
  margin-top: 0.625rem;
  text-align: center;
  font-family: '나눔스퀘어라운드';
  font-size: 0.6rem;
  letter-spacing: 1px;
}

.bodywrap .item_page .item_page_list .item_page_list_items .item_price {
  margin: 0 auto;
  text-align: center;
  font-size: 0.8rem;
  margin-top: 0.5rem;
  margin-top: 8px;
  font-weight: bold;
}

.bodywrap .item_page .item_page_paging {
  margin: 0 auto;
  width: 60%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bodywrap .item_page .item_page_paging .left-arrow {
  cursor: pointer;
  width: 0.6rem;
}

.bodywrap .item_page .item_page_paging .left-arrow img {
  width: 100%;
}

.bodywrap .item_page .item_page_paging .right-arrow {
  cursor: pointer;
  width: 0.6rem;
}

.bodywrap .item_page .item_page_paging .right-arrow img {
  width: 100%;
  transform: rotate(180deg);
}

.bodywrap .item_page .item_page_paging .paging_numbers {
  display: flex;
  align-items: center;
  text-align: center;
}

.bodywrap .item_page .item_page_paging .paging_numbers span {
  padding: 10px;
  cursor: pointer;
  font-size: 1rem;
  font-family: "나눔스퀘어라운드";
  color: #818181;
  margin: 0 0.5rem;
}

.bodywrap .item_page .item_page_paging .paging_numbers span.active {
  color: #000;
  font-weight: bold;
}

@media all and (min-width: 500px) {
  .main-image {
    height: 9.375rem;
  }
}

@media all and (min-width: 768px) {
  .bodywrap {
    margin-top: 6.25rem;
  }
  .bodywrap .main-image {
    background-position-y: 50px;
    height: 12.5rem;
  }
  .bodywrap .main-image_caption {
    font-size: 1.25rem;
  }
  .bodywrap .item_page {
    margin-top: 5rem;
  }
  .bodywrap .item_page .item_page_header {
    padding: 1.25rem 0;
  }
  .bodywrap .item_page .item_page_header .item_page_header_title {
    font-size: 1.5rem;
  }
  .bodywrap .item_page .item_page_header .item_sort {
    top: 60px;
  }
  .bodywrap .item_page .item_page_header .item_page_sort select {
    font-size: 0.75rem;
  }
  .bodywrap .item_page .item_page_list {
    grid-template-columns: repeat(3, 29%);
    grid-template-rows: repeat(4, 1fr);
    margin-top: 3.125rem;
  }
  .bodywrap .item_page .item_page_list .item_page_list_items {
    width: 100%;
    margin-bottom: 62px;
    margin-bottom: 3.875rem;
  }
  .bodywrap .item_page .item_page_list .item_page_list_items img {
    width: 100%;
  }
  .bodywrap .item_page .item_page_list .item_page_list_items .item_name {
    margin-top: 1.25rem;
    text-align: center;
    font-family: 'Raleway';
    font-size: 0.625rem;
    letter-spacing: 1px;
  }
  .bodywrap .item_page .item_page_list .item_page_list_items .item_price {
    text-align: center;
    font-size: 0.75rem;
    margin-top: 0.75rem;
  }
  .bodywrap .item_page .item_page_paging {
    margin: 0 auto;
    width: 40%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .bodywrap .item_page .item_page_paging .left-arrow {
    width: 18px;
  }
  .bodywrap .item_page .item_page_paging .left-arrow img {
    width: 100%;
  }
  .bodywrap .item_page .item_page_paging .right-arrow {
    width: 18px;
  }
  .bodywrap .item_page .item_page_paging .right-arrow img {
    width: 100%;
    transform: rotate(180deg);
  }
}

@media all and (min-width: 1024px) {
  .bodywrap {
    margin-top: 6.25rem;
  }
  .bodywrap .main-image {
    height: 18.75rem;
    background-attachment: fixed;
  }
  .bodywrap .main-image_caption {
    font-size: 30px;
  }
  .bodywrap .item_page {
    margin-top: 5rem;
  }
  .bodywrap .item_page .item_page_header {
    padding: 1.25rem 0;
    border-bottom: 0.5px solid #707070;
  }
  .bodywrap .item_page .item_page_header .item_page_header_title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .bodywrap .item_page .item_page_header .item_page_header_sort span {
    padding: 0 0.75rem;
    font-size: 0.75rem;
  }
  .bodywrap .item_page .item_page_list {
    grid-template-columns: repeat(3, 29%);
    grid-template-rows: repeat(4, 1fr);
    margin-top: 3.125rem;
  }
  .bodywrap .item_page .item_page_list .item_page_list_items {
    width: 100%;
    margin-bottom: 6.25rem;
  }
  .bodywrap .item_page .item_page_list .item_page_list_items img {
    width: 100%;
  }
  .bodywrap .item_page .item_page_list .item_page_list_items .item_name {
    margin-top: 1.75rem;
    text-align: center;
    font-size: 0.875rem;
    letter-spacing: 1px;
  }
  .bodywrap .item_page .item_page_list .item_page_list_items .item_price {
    text-align: center;
    font-size: 1rem;
    margin-top: 1rem;
  }
  .bodywrap .item_page .item_page_paging {
    margin-top: 100px;
    width: 30%;
  }
}

@media all and (min-width: 1280px) {
  .bodywrap {
    margin-top: 6.25rem;
  }
  .bodywrap .main-image {
    height: 26rem;
    background-position-y: 0px;
  }
  .bodywrap .main-image_caption {
    font-size: 40px;
  }
  .bodywrap .item_page {
    width: 70%;
    margin-top: 5rem;
  }
  .bodywrap .item_page .item_page_header {
    padding: 1.875rem 0;
  }
  .bodywrap .item_page .item_page_header .item_sort {
    top: 70px;
  }
  .bodywrap .item_page .item_page_header .item_page_header_title {
    font-size: 1.875rem;
  }
  .bodywrap .item_page .item_page_header .item_page_header_sort span {
    padding: 0 0.9375rem;
    font-size: 0.9375rem;
  }
  .bodywrap .item_page .item_page_list {
    grid-template-columns: repeat(3, 29%);
    grid-template-rows: repeat(4, 1fr);
    margin-top: 4.6875rem;
  }
  .bodywrap .item_page .item_page_list .item_page_list_items {
    width: 100%;
    margin-bottom: 6.25rem;
  }
  .bodywrap .item_page .item_page_list .item_page_list_items img {
    width: 100%;
  }
  .bodywrap .item_page .item_page_list .item_page_list_items .item_name {
    margin-top: 1.6rem;
    font-size: 0.8rem;
  }
  .bodywrap .item_page .item_page_list .item_page_list_items .item_price {
    text-align: center;
    font-size: 1rem;
    margin-top: 1rem;
  }
  .bodywrap .item_page .item_page_paging {
    width: 25%;
  }
}
